#dialog {
    width: 500px;
    padding: 20px;
    background-color: #e4e2e2;
    border: 1px solid #979797;
    border-radius: 5px;
    margin: 100px auto;
  }
  
  #dialogText {
    font-size: 18px;
    line-height: 1.5;
   font-family: Courier , sans-serif; /* Желаемый шрифт и список альтернативных шрифтов */
  
  }

  